# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
**/dist/
build/
**/build/
out/
**/out/

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/
*.lcov

# Prisma
generated/
**/generated/
